---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug
"---
import BaseLayout from "../layouts/BaseLayout.astro";
import { KEYWORDS } from '../config';
---
<BaseLayout
  sideBarActiveItemID="home"
  keywords={KEYWORDS}  // <--- Pass keywords specific to this page
>
  <!-- your page content -->
</BaseLayout>import { KEYWORDS } from '../config';

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home" keywords="Valentino Zubak, vzubak">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Valentino Zubak</div>
    <div class="text-3xl py-3 font-bold">Ads and lead generation expert. Website developer.</div>
    <div class="py-2">
      <text class="text-lg">
      I'm a builder at heart — a <b>full-stack digital operator</b> who takes ideas from zero to launch. I don't just buy media; I craft strategies, build front-end experiences that convert, and manage the servers that power it all. Whether it's scaling traffic, optimizing performance, or solving problems on the fly, I move fast, think big, and stay hands-on at every level. I love creating systems that grow, campaigns that win, and brands that actually mean something. Ready to bring my entrepreneurial mindset, technical know-how, and growth obsession to a team that’s serious about playing to win.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/vzubak/" target="_blank"> Let's connect!</a>
      <a href="mailto:v.zubak@protonmail.ch" target="_blank" class="btn btn-outline ml-5">
        Shoot me an email
      </a>
    </div>
  </div>

  <div>
  {/*
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  */}
</BaseLayout>
